@import url("../fonts/font-awesome.min.css");
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  background: #d3d4db;
  font-size: 16px;
  font-size: calc(0.8rem + 0.3vw);
  padding: 0 calc(38% - 21em);
}

body {
  background: #ffffff;
  color: #282123;
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  box-shadow: 0 0 0.3em #c5c7cf;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

b, strong, th {
  font-weight: 600;
}

p {
  text-align: justify;
}

a {
  color: #68f;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

header a, footer a, aside a {
  color: inherit;
}

header time {
  color: #909194;
}

hr {
  border: 1px solid rgba(144, 145, 148, 0.3);
  margin: 2em 0;
}

article:not(:last-of-type) {
  border-bottom: 1.5px solid rgba(144, 145, 148, 0.2);
}

blockquote {
  background: rgba(144, 145, 148, 0.06);
  border-left: 3px solid rgba(144, 145, 148, 0.9);
  padding: 1px 1.5em;
  opacity: 0.75;
}

blockquote, figure {
  margin: 1em 0;
}

img, li {
  margin: 0.5em 0;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto;
}

table {
  display: inline-block;
  max-width: 100%;
  overflow-y: scroll;
  border-spacing: 1px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(144, 145, 148, 0.12) inset;
}

th, td {
  padding: 0.5em 1em;
  box-shadow: 0 0 0 1px rgba(144, 145, 148, 0.12);
}

tr:hover, tr:nth-child(odd) td {
  background: rgba(144, 145, 148, 0.04);
}

pre {
  background: rgba(144, 145, 148, 0.12);
  border-radius: 2px;
  font-size: 0.7em;
  margin: 1.5em 0;
  padding: 1.8em 1.2em;
  overflow-x: auto;
}

:not(pre) > code {
  font-size: 0.9em;
  background: rgba(144, 145, 148, 0.15);
  opacity: 0.7;
  border-radius: 2px;
  margin: 0 0.1em;
  padding: 0.2em 0.4em;
}

body > header, body > footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #2d2e36;
  color: #ffffff;
}

body > header, body > article, body > footer {
  padding: 1.5em;
}

article header {
  margin-bottom: 1.5em;
}

article header h1 {
  margin: 0 0 0.1em;
}

nav {
  margin: 0.5em -1em;
}

nav a {
  margin: 0.5em 1em;
}

@media (prefers-color-scheme: dark) {
  html, body, body > header, body > footer {
    background: rgb(29, 29, 29);
    color: #ffffff;
    box-shadow: 0 0 0 1px #33353e;
  }
}

@media (min-width: 32em) {
  body > header, body > article, body > footer {
    padding: 1.65em calc(22% - 6em);
  }
}

.title {
  font-size: 1.3em;
}

.more {
  margin: 2em 0 1em;
}

.more a {
  border-radius: 2px;
  border: 1.5px solid #68f;
  padding: 0.4em 0.8em;
  transition: 0.2s background, 0.2s color;
}

.more a:hover {
  color: #fff;
  background: #68f;
  text-decoration: inherit;
}

.archive {
  list-style: none;
  padding: 0;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  font-size: 0.7em;
  color: darkgrey;
}

.archive description {
  margin-top: 15px;
  display: block;
  font-size: 0.9em;
  color: #909194;
}

.highlight pre {
  background: rgba(47, 48, 57, 0.9)!important;
  color: white!important;
  margin: 0;
}

.katex {
  overflow-x: auto;
  overflow-y: hidden;
}

.copy-code-button {
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.inline-content {
  margin: auto;
}

.inline-content img {
  float: right;
  width: 30%;
  margin-left: 10px;
}

.footer {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding-top: 10%;
}

/* Icon */
ul.icons {
  cursor: default;
  list-style: none;
}

ul.icons li {
  display: inline-block;
  padding-right: 10px;
}

.icon > .label {
  display: none;
}
